html {
  height: 100%;
  background: black url(bg.jpg) center no-repeat;
  background-size: cover;
}
body {
  height: 100%;
  color: white;
  font-family: "Courier New", Courier, Monaco, serif;
  font-size: 13px;
  animation-name: slidein;
  animation: slidein 3s;
}
* {
  box-sizing: border-box;
  /*border: 1px solid white;*/
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  margin-top: 450px;
  max-width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animation {
  animation-duration: 3s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}
@keyframes slidein {
from { opacity: 0;
}
to {
  opacity: 1;
}
}
/*.header, .body, .footer {
  border: 1px solid white;
}*/

/********* HEAD ********/
.header {
  margin-bottom: 100px;
}
.logo {
  margin-bottom: 10px;
}

/******** BODY ********/

.navigation li {
  margin-bottom: 12px;
}
.navigation a:hover {
  background-color: red;
}
.navigation a {
  transition: all .5s;
  transition-property: background-color;
  transition-duration: 3s;
}

/******** FOOTER ********/

.social li {
display: inline-block;
margin-top: 10px;
margin-right: 5px;
width: 15px;
height: 15px;
}
.social img {
  max-width: 100%;
}
.social a {
  opacity: 0.2;
}
.social a:hover {
  opacity: 0.9;
}


@media all and (min-width:320px) and (max-width:374px) {
  body {
    font-size: 11px;
  }
  .header {
    margin-bottom: 40px;

  }
.navigstion li {
  margin-bottom: 10px;
}
.body {
  margin-bottom: 40px;
}
}
